= form_for [:admin, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2
        = pluralize(@comment.errors.count, "error")
        prohibited this comment from being saved:
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message
  .field
    = text_field "", :page, :value => params[:page], :style => "display:none"
  .field
    = f.label :doctor_id
    %br/
    = f.text_field :doctor_id,:value => @doctor.id
    = @doctor.name
  .field
    = f.label :hospital_id
    %br/
    = f.text_field :hospital_id,:value => @hospital.id
    = @hospital.name
  .field
    = f.label :division_id
    %br/
    = f.text_field :division_id,:value => @division.id
    = @division.name
  \########################## 科別評論  ############################
  .field
    = f.label :div_environment,'環境衛生'
    %br/
    = f.text_field :div_environment
  .field
    = f.label :div_equipment,"醫療設備"
    %br/
    = f.text_field :div_equipment
  .field
    = f.label :div_speciality,"醫護專業"
    %br/
    = f.text_field :div_speciality
  .field
    = f.label :div_friendly,"服務態厲"
    %br/
    = f.text_field :div_friendly
  .field
    = f.label :div_comment,"科別評論"
    %br/
    = f.text_area :div_comment, cols: "30", rows: "10"
  \########################## 醫師評論  ############################
  .field
    = f.label :dr_friendly,"醫師態度"
    %br/
    = f.text_field :dr_friendly
  .field
    = f.label :dr_speciality,"醫師專業"
    %br/
    = f.text_field :dr_speciality
  .field
    = f.label :dr_comment,"醫師評論"
    %br/
    = f.text_area :dr_comment, cols: "30", rows: "10"
  .field
    = f.label :is_recommend,"是否推薦醫師"
    = f.check_box :is_recommend
  .actions
    = f.submit
