<p id="notice"><%= notice %></p>
<dl>
  <dt>醫院</dt>
  <dd><%= @comment.hospital.name %></dd>
  <dt>科別名稱</dt>
  <dd><%= @comment.division.name %></dd>
  <dt>醫師名稱</dt>
  <dd><%= @comment.doctor.name %></dd>
########################## 科別評論  ############################
  <dt>環境衛生</dt>
  <dd><%= @comment.div_environment %></dd>
  <dt>醫療設備</dt>
  <dd><%= @comment.div_equipment %></dd>
  <dt>醫護專業</dt>
  <dd><%= @comment.div_speciality %></dd>
  <dt>服務態厲</dt>
  <dd><%= @comment.div_friendly %></dd>
  <dt>科別評論</dt>
  <dd><%= @comment.div_comment %></dd>

########################## 醫師評論  ############################
  <dt>醫師態度</dt>
  <dd><%= @comment.dr_friendly %></dd>
  <dt>醫師專業</dt>
  <dd><%= @comment.dr_speciality %></dd>
  <dt>醫師評論</dt>
  <dd><%= @comment.dr_comment %></dd>
</dl>

<%= link_to '修改', edit_admin_comment_path(@comment,page: params[:page]) %> |
<%= link_to '回醫師頁', admin_doctor_path(@comment.doctor_id,hospital_id: @comment.hospital_id,division_id: @comment.division_id) %>
