<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.text_field :doctor_id,:value => @doctor.id %>
    <%= @doctor.name %>
  </div>
  <div class="field">
    <%= f.label :hospital_id %><br>
    <%= f.text_field :hospital_id,:value => @hospital.id %>
    <%= @hospital.name %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br>
    <%= f.text_field :division_id,:value => @division.id %>
    <%= @division.name %>
  </div>
########################## 科別評論  ############################
  <div class="field">
    <%= f.label :div_environment,'環境衛生' %><br>
    <%= f.text_field :div_environment %>
  </div>
  <div class="field">
    <%= f.label :div_equipment,"醫療設備" %><br>
    <%= f.text_field :div_equipment %>
  </div>
  <div class="field">
    <%= f.label :div_speciality,"醫護專業" %><br>
    <%= f.text_field :div_speciality %>
  </div>
  <div class="field">
    <%= f.label :div_friendly,"服務態厲" %><br>
    <%= f.text_field :div_friendly %>
  </div>
  <div class="field">
    <%= f.label :div_comment,"科別評論" %><br>
    <%= f.text_area :div_comment %>
  </div>
########################## 醫師評論  ############################
  <div class="field">
    <%= f.label :dr_friendly,"醫師態度" %><br>
    <%= f.text_field :dr_friendly %>
  </div>
  <div class="field">
    <%= f.label :dr_speciality,"醫師專業" %><br>
    <%= f.text_field :dr_speciality %>
  </div>
  <div class="field">
    <%= f.label :dr_comment,"醫師評論" %><br>
    <%= f.text_area :dr_comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
