- breadcrumb :area, @area
.search-areas
  .search-area-title
    依科別尋找
  .search-area-content.row
    -@categories.each do |category|
      .search-area-content-list.col-md-3
        .icon
          %li.glyphicon.glyphicon-record
        .text
          = category.name
.hospital-lists
  .hospital-lists-title
    = @area.name + '醫院列表'
  .hospital-lists-content.row
    - @areaHospitals.each_slice(5) do |hospital|
      .hospital-lists-content-column.col-md-6
        .hospital-lists-content-list
          = hospital[0].name
        .hospital-lists-content-list
          = hospital[1].name
        .hospital-lists-content-list
          = hospital[2].name
        .hospital-lists-content-list
          = hospital[3].name
        .hospital-lists-content-list
          = hospital[4].name
    .hospital-lists-paginate
      = pagination_links(@areaHospitals)
.recommend-lists
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to "#{@area.name}推薦醫院", '#recommendHospitals', 'data-toggle' => "tab"
    .recommend-lists-tag{ 'data-toggle' => "tab"}
      = link_to "#{@area.name}熱門醫院", '#popHospitals', 'data-toggle' => "tab"
    .recommend-lists-more
      = link_to '觀看更多', ''
  .recommend-lists-content.row
    #recommendHospitals.tab-pane.active
      - @areaGoodHospitals.each_slice(5).with_index do |hospitals, i|
        .col-md-6.box
          - hospitals.each_with_index do |hospital, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                = (i*5)+ 1 + num
              .recommend-lists-name
                = hospital.name
                %li.glyphicon.glyphicon-thumbs-up
                  = hospital.recommend_num
    #popHospitals.tab-pane
      - @areaPopHospitals.each_slice(5).with_index do |hospitals, i|
        .col-md-6.box
          - hospitals.each_with_index do |hospital, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                = (i*5)+ 1 + num
              .recommend-lists-name
                = hospital.name
                %li.glyphicon.glyphicon-thumbs-up
                  = hospital.recommend_num
.recommend-lists.recommend-doctors
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to "#{@area.name}推薦醫生", '#recommendDoctors', 'data-toggle' => "tab"
    .recommend-lists-tag{ 'data-toggle' => "tab"}
      = link_to "#{@area.name}熱門醫生", '#popDoctors', 'data-toggle' => "tab"
    .recommend-lists-more
      = link_to '觀看更多', ''
  .recommend-lists-content.row
    #recommendDoctors.tab-pane.active
      - @areaGoodDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                = (i*5)+ 1 + num
              .recommend-lists-name
                = doctor.name
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.recommend_num
    #popDoctors.tab-pane
      - @areaPopDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                = (i*5)+ 1 + num
              .recommend-lists-name
                = doctor.name
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.recommend_num