<h1>Doctor Search</h1>

<%= form_for search_doctors_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <h3>
        <%= link_to doctor.name, controller: "doctors", action: "show", id: doctor.id%>
      </h3>
    </li>
  <% end %>
</ul>