<h1>Hospitals Search</h1>

<%= form_for search_hospitals_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @hospitals.each do |hospital| %>
    <li>
      <h3>
        <%= link_to hospital.name, controller: "hospitals", action: "show", id: hospital._id%>
      </h3>
    </li>
  <% end %>
</ul>