- breadcrumb :searchResult
.search_result.row
  .title
    醫院
  .resultList
    - if @hospitals.results.any?
      - @hospitals.each_slice(5) do |hospitals|
        .col-md-6
          - hospitals.each do |hospital|
            .icons
              .icon
                = image_tag("grade#{tellGrade(hospital.grade)}.png")
              .icon-content
                .icon-content-title
                  = link_to hospital.name, hospital_path(hospital)
                .area
                  = hospital.area.name
    - else
      .noFound
        找不到符合的結果
.search_result.row.searchDoctors
  .title
    醫師
  .resultList
    - if @doctors.results.any?
      - @doctors.each_slice(5) do |doctors|
        .col-md-6
          - doctors.each do |doctor|
            .icons
              .icon
                = image_tag("mDoctor.png")
              .icon-content
                .icon-content-title
                  = link_to doctor.name,  hospital_division_doctor_path(findDocHospId(doctor.id), findDocDivId(doctor.id), doctor.id)
    - else
      .noFound
        找不到符合的結果