<p id="notice"><%= notice %></p>

<h1>Listing Problems</h1>

<table>
  <thead>
    <tr>
      <th>醫院</th>
      <th>科別</th>
      <th>醫師</th>
      <th>問題</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= "#{problem.hospital_id} : #{problem.hospital.name if problem.hospital}" %></td>
        <td><%= "#{problem.division_id} : #{problem.division.name if problem.division}" %></td>
        <td><%= "#{problem.doctor_id} : #{problem.doctor.name if problem.doctor}" %></td>
        <td><%= "#{problem.content}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>