.information-boxes
  .information-boxes-title
    醫師資訊
    .information-boxes-title-content
      .icons
        .icon
          = image_tag("icon_hospital.png")
        .icon-content
          .icon-content-title
            = @doctor.name + '  醫師'
          .icon-content-num
            %li.glyphicon.glyphicon-thumbs-up
            %li
              = @doctor.recommend_num.round(1)
          .icon-content-num
            %li.glyphicon.glyphicon-comment
            %li
              = @doctor.comment_num.round(1)
          .icon-content-num
            %li.glyphicon.glyphicon-star
            %li
              = @avgDocRate
  .information-boxes-content.row
    .top-right-corner
      %li.glyphicon.glyphicon-user
        = @comments.count
    .col-md-6
      .rating-box
        .rating-box-title
          醫師綜合滿意度 &nbsp;&nbsp;
          = @avgDocRate
        .rating-box-lists
          .rating-box-list
            醫師態度 &nbsp;&nbsp;
            %span.stars
              = @drFriendly
          .rating-box-list
            醫師專業 &nbsp;&nbsp;
            %span.stars
              = @drSpeciality
  .information-boxes-content.row
    .col-md-6
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-map-marker
          .icon-content
            .icon-content-title
              服務醫院
            .icon-content-info
              - @hospitals.each do |hospital|
                = link_to hospital.hospital.name, hospital_path(hospital.hospital_id)
                %br>/
                -#= link_to @division.name, division_path(hospital.division_id)
                = link_to hospital.division.name, ''
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-map-marker
          .icon-content
            .icon-content-title
              專長
            .icon-content-info
              - @doctor.spe.split('、').each do |spe|
                = spe
                %br>/

      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-map-marker
          .icon-content
            .icon-content-title
              經歷
            .icon-content-info
              - @doctor.exp.split('、').each do |exp|
                = exp
                %br>/
.col-md-8.col-md-offset-3.box
.comment-lists
  .row
    .comment-lists-title
      醫師評論
    .col-md-1.box
    .col-md-10
      .comment-lists-content
        - @comments.each do |comment|
          %a.comment-lists-comment.row{:href => ""}
            .col-md-6
              %p 評論者: #{comment.commentor.name}
              %p 對象： #{comment.division.name}/#{comment.doctor.name}
              .comment-lists-rank
                %p 科別滿意度： #{comment.div_speciality}
                %p 醫師滿意度： #{comment.dr_speciality}
            .col-md-6.comment-lists-comment-content
              科別評論：
              %br>/
              = truncate(comment.dr_comment, length: 35)
      .comment-lists-paginate
        = pagination_links(@comments)
    .col-md-1.box
