- breadcrumb :hospital, @hospital, @area
.information-boxes
  .information-boxes-title
    醫院資訓
    .information-boxes-title-content
      .icons
        .icon
          = image_tag("icon_hospital.png")
        .icon-content
          .icon-content-title
            = @hospital.name
          .icon-content-num
            %li.glyphicon.glyphicon-thumbs-up
            %li
              = @hospital.recommend_num
          .icon-content-num
            %li.glyphicon.glyphicon-comment
            %li
              = @hospital.comment_num
  .information-boxes-content.row
    .col-md-6
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-map-marker
          .icon-content
            .icon-content-title
              院址
            .icon-content-info
              = @hospital.address
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-earphone
          .icon-content
            .icon-content-title
              電話
            .icon-content-info
              = @hospital.phone
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-time
          .icon-content
            .icon-content-title
              營業時間
            - if @hospital.cHours
              - @hospital.cHours.each do |day, times|
                -if day == 'weekday' && times.class == Array
                  .icon-content-info
                    = "平日: #{times.join(' ')}"
    .col-md-6
      .image-map
        = image_tag('mapSample.png')
  .information-boxes-content.row
    .col-md-6
      .info-text
        醫療緊急分級: &nbsp&nbsp 中度級
      .info-text
        評鑑效期: &nbsp&nbsp 2017年12月
      .info-textarea
        醫院服務:
        %p
          = @hospital.ss.join('，')
.division-lists
  .division-lists-title
    院內科別
  .division-lists-content
    - @divisions.each_slice(4) do |divs|
      .division-lists-row
        - divs.each do |div|
          .division-lists-list
            .icons
              .icon
                = image_tag("ic/large 36/#{div.category_id}.png")
              .icon-content
                = div.name
  .division-lists-pagination
    = pagination_links_dot(@divisions)

.recommend-lists
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to '院內推薦科別', '#recommendDivisions', 'data-toggle' => "tab"
    .recommend-lists-tag{ 'data-toggle' => "tab"}
      = link_to '熱門醫院', '#popDivisions', 'data-toggle' => "tab"
    .recommend-lists-more
      = link_to '觀看更多', ''
  .recommend-lists-content.row
    #recommendDivisions.tab-pane.active
      - @goodDivisions.each_slice(5).with_index do |divisions, i|
        .col-md-6.box
          - divisions.each_with_index do |division, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .icons
                .icon
                  = image_tag("ic/small 29/#{division.category_id}.png")
                .icon-content
                  = division.name
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = division.total
    #popDivisions.tab-pane
      - @popDivisions.each_slice(5).with_index do |divisions, i|
        .col-md-6.box
          - divisions.each_with_index do |division, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .icons
                .icon
                  = image_tag("ic/small 29/#{division.category_id}.png")
                .icon-content
                  = division.name
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = division.total
.recommend-lists.recommend-doctors
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to '院內推薦醫生','#recommendHosDoctors', 'data-toggle' => "tab"
    .recommend-lists-tag
      = link_to '院內熱門醫生', '#popHosDoctors', 'data-toggle' => "tab"
    .recommend-lists-more
      = link_to '觀看更多', ''
  .recommend-lists-content.row
    #recommendHosDoctors.tab-pane.active
      - @goodDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-doctorName
                = doctor.name
                .recommend-lists-doctor-div
                  = findDoctorDivName(doctor.doctor_id)
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.total
    #popHosDoctors.tab-pane
      - @popDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-doctorName
                = doctor.name
                .recommend-lists-doctor-div
                  = findDoctorDivName(doctor.doctor_id)
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.total
.comment-lists
  .comment-lists-title
    院內最新科別評論
  .row
    .col-md-1.box
    .col-md-10.box
      .comment-lists-content
        - @divisionComments.each do |comment|
          %a.comment-lists-comment.row{:href => ""}
            .col-md-6
              %p 評論者: #{comment.commentor.name}
              %p 對象： #{comment.division.name}/#{comment.doctor.name}
              .comment-lists-rank
                %p 科別滿意度： #{comment.div_speciality}
                %p 醫師滿意度： #{comment.dr_speciality}
            .col-md-6.comment-lists-comment-content
              科別評論：
              %br>/
              = truncate(comment.div_comment, length: 35)
      .comment-lists-paginate
        = pagination_links(@divisionComments)
    .col-md-1.box
.col-md-8.col-md-offset-3.box
.comment-lists
  .row
    .comment-lists-title
      院內最新醫師評論
    .col-md-1.box
    .col-md-10
      .comment-lists-content
        - @doctorComments.each do |comment|
          %a.comment-lists-comment.row{:href => ""}
            .col-md-6
              %p 評論者: #{comment.commentor.name}
              %p 對象： #{comment.division.name}/#{comment.doctor.name}
              .comment-lists-rank
                %p 科別滿意度： #{comment.div_speciality}
                %p 醫師滿意度： #{comment.dr_speciality}
            .col-md-6.comment-lists-comment-content
              科別評論：
              %br>/
              = truncate(comment.dr_comment, length: 35)
      .comment-lists-paginate
        = pagination_links(@doctorComments)
    .col-md-1.box
