- breadcrumb :hospital, @hospital, @area
.information-boxes
  .information-boxes-title
    醫院資訓
    .information-boxes-title-content
      .icons
        .icon
          = image_tag("icon_hospital.png")
        .icon-content
          .icon-content-title
            = @hospital.name
          .icon-content-num
            %li.glyphicon.glyphicon-thumbs-up
            %li
              = @hospital.recommend_num
          .icon-content-num
            %li.glyphicon.glyphicon-comment
            %li
              = @hospital.comment_num
  .information-boxes-content.row
    .col-md-6
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-map-marker
          .icon-content
            .icon-content-title
              院址
            .icon-content-info
              = @hospital.address
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-earphone
          .icon-content
            .icon-content-title
              電話
            .icon-content-info
              = @hospital.phone
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-time
          .icon-content
            .icon-content-title
              營業時間
            - if @hospital.cHours
              - @hospital.cHours.each do |day, times|
                -if day == 'weekday' && times.class == Array
                  .icon-content-info
                    = "平日: #{times.join(' ')}"
    .col-md-6
      .image-map
        = image_tag('mapSample.png')
  .information-boxes-content.row
    .col-md-6
      .info-text
        醫療緊急分級: &nbsp&nbsp 中度級
      .info-text
        評鑑效期: &nbsp&nbsp 2017年12月
      .info-textarea
        醫院服務:
        %p
          = @hospital.ss.join('，')
.division-lists
  .division-lists-title
    院內科別
  .division-lists-content
    - @divisions.each_slice(4) do |divs|
      .division-lists-row
        - divs.each do |div|
          .division-lists-list
            .icons
              .icon
                = image_tag("ic/large 36/#{div.category_id}.png")
              .icon-content
                = div.name
  .division-lists-pagination
    = pagination_links_dot(@divisions)

.recommend-lists
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to '院內推薦科別', '#recommendDivisions', 'data-toggle' => "tab"
    .recommend-lists-tag{ 'data-toggle' => "tab"}
      = link_to '熱門醫院', '#popDivisions', 'data-toggle' => "tab"
    .recommend-lists-more
      = link_to '觀看更多', ''
  .recommend-lists-content.row
    #recommendDivisions.tab-pane.active
      - @goodDivisions.each_slice(5).with_index do |divisions, i|
        .col-md-6.box
          - divisions.each_with_index do |division, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .icons
                .icon
                  = image_tag("ic/small 29/#{division.category_id}.png")
                .icon-content
                  = division.name
              .recommend-lists-name
                %li.glyphicon.glyphicon-thumbs-up
                  = division.total
    #popDivisions.tab-pane
      - @popDivisions.each_slice(5).with_index do |divisions, i|
        .col-md-6.box
          - divisions.each_with_index do |division, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .icons
                .icon
                  = image_tag("ic/small 29/#{division.category_id}.png")
                .icon-content
                  = division.name
              .recommend-lists-name
                %li.glyphicon.glyphicon-thumbs-up
                  = division.total
