.container.breadcrumbs--hierarchy
  .col-sm-12 首頁     &gt; 台中市 &gt; 澄清醫院
%main
  .container
    %section.col-md-6.col-sm-12.box.division
      .title
        依科別尋找
      .row
        - @categories.each do |category|
          .col-md-2.col-xs-6
            = category.name
    %section.col-sm-12.box
      .container
        .information
          .information-header
            .thumbnail
              照片
            .information-title
              澄清醫院
              %span 推薦數/評論數/評分
          .information-body.row
            .col-md-4.image
              = image_tag("mapSample")
            .col-md-8.about
              關於本院:
              %br>/
              現演一底的天做？期學這定、片金兒希，心的員起。記老所是中舞教友幾，天無局吃林，自友著有、十上建大境辦立源公紅應香來，著的燈：外別金個開長統。人戰傷你線了今護條親買故總子：專開們道甚的去引生、為著雙歌美提時全你節費友面價。重前夜少雖較北眾，家經服但這題一大；具拉似；長合是！好發一他打年是黃臺過重多的分二我工國，發香臺取年作支道，紀界出可大灣望動散一會的性日。了起勢達謝品司，候一人我奇方美始國座位回現。思樣以一於反有密中慢讀說高往指術多！深因快力色出中些？國的些吃他強的看……車高戲要身的來備中：時試些區華。
    %section.col-md-6.box.doctor
      .title
        院科別排行
      .row
        .col-md-6
          .title.sub-title
            推薦科別
          .row
            - @goodCategories.each_with_index do |category, index|
              .col-xs-12.rank
                = index + 1
                = category.name
        .col-md-6
          .title.sub-title
            熱門科別
          .row
            - @goodCategories.each_with_index do |category, index|
              .col-xs-12.rank
                = index + 1
                = category.name
    %section.col-md-6.box.doctor
      .title
        院醫生排行
      .row
        .col-md-6
          .title.sub-title
            推薦醫生
          .row
            - @goodDoctors.each_with_index do |doctor, index|
              .col-xs-12.rank
                = index + 1
                = doctor.name
        .col-md-6
          .title.sub-title
            推薦醫生
          .row
            - @goodDoctors.each_with_index do |doctor, index|
              .col-xs-12.rank
                = index + 1
                = doctor.name
    %section.col-md-12.box.comment
      .title
        醫院最新科別評論
      .row
        - @comments.each do |comment|
          - unless comment.div_comment.nil? || comment.div_comment.empty?
            .col-xs-4
              .comment-box
                %p 評論者: user
                %p 對象： doctor
                %p 科別滿意度： 2.0
                %p 醫師滿意度： 4.0
                %p
                  科別評論：
                  \#{comment.div_comment}
      = will_paginate @comments
    %section.col-md-12.box.comment
      .title
        醫院最新醫師評論
      .row
        - @comments.each do |comment|
          - unless comment.div_comment.nil? || comment.div_comment.empty?
            .col-xs-4
              .comment-box
                %p 評論者: user
                %p 對象： doctor
                %p 科別滿意度： 2.0
                %p 醫師滿意度： 4.0
                %p
                  科別評論：
                  \#{comment.div_comment}
      = will_paginate @comments
