.moreDoctors
  .switch
    -if type == 'recommend'
      = link_to '查看熱門醫師', doctors_popular_path
    -elsif type == 'popular'
      = link_to '查看推薦醫師', doctors_recommend_path
  - doctors.each_with_index do |doctor, num|
    .list
      .rankNum
        - if doctors.offset + num < 9
          = ('0' +( num + 1).to_s)
        - else
          = 1 + doctors.offset + num
      -if type == 'recommend'
        .glyph
          = image_tag 'recommendIcon.png'
          = doctor.recommend_num
      -elsif type == 'popular'
        .glyph
          = image_tag 'commentIcon.png'
          = doctor.comment_num
      .doctorName
        = link_to doctor.name, hospital_division_doctor_path(findDocHospId(doctor.id), findDocDivId(doctor.id), doctor.id)
      .doctorDivision
        = link_to findDoctorDivName(doctor.id), hospital_division_path(findDocHospId(doctor.id),  findDocDivId(doctor.id))
  .lists-paginate
    = pagination_links(doctors)