%main
  .row
    %aside.col-md-2.col-md-offset-2
      .aside-title
        依地區尋找
      .aside-content.row
        - @areas.each do |area|
          .col-md-6.aside-list
            = area.name
      .aside-title
        依科別尋找
    .col-md-6
      .recommend-lists
        .recommend-lists-title
          .recommend-lists-tag
            推薦醫院
          .recommend-lists-tag
            熱門醫院
          .recommend-lists-more
            觀看更多
        .recommend-lists-content.row
          .col-md-6
            - @goodHospitals.each_with_index do |hospital, index|
              -if index < 5
                .recommend-lists-ranknum
                  = "0" + (index + 1).to_s
                .recommend-lists-list
                  = hospital.name
                  %li.glyphicon.glyphicon-thumbs-up
                    1,240
          .col-md-6
            - @goodHospitals.each_with_index do |hospital, index|
              -if index > 4
                .recommend-lists-ranknum
                  -if index == 9
                    = index + 1
                  -else
                    = "0" + (index + 1).to_s
                .recommend-lists-list
                  = hospital.name
                  %li.glyphicon.glyphicon-thumbs-up
                    1,240
      .recommend-lists.recommend-doctors
        .recommend-lists-title
          .recommend-lists-tag
            推薦醫院
          .recommend-lists-tag
            熱門醫院
          .recommend-lists-more
            觀看更多
        .recommend-lists-content.row
          .col-md-6
            - @goodHospitals.each_with_index do |hospital, index|
              -if index < 5
                .recommend-lists-ranknum
                  = "0" + (index + 1).to_s
                .recommend-lists-list
                  = hospital.name
                  %li.glyphicon.glyphicon-thumbs-up
                    1,240
          .col-md-6
            - @goodHospitals.each_with_index do |hospital, index|
              -if index > 4
                .recommend-lists-ranknum
                  -if index == 9
                    = index + 1
                  -else
                    = "0" + (index + 1).to_s
                .recommend-lists-list
                  = hospital.name
                  %li.glyphicon.glyphicon-thumbs-up
                    1,240
    .col-md-6.col-md-offset-4
      .comment-lists.row
        .comment-lists-title
          最新科別評論
        .col-md-1
          %li.glyphicon.glyphicon-chevron-left
        .col-md-10
          .comment-lists-content
            - @comments.each do |comment|
              - unless comment.div_comment.nil? || comment.div_comment.empty?
                .comment-lists-comment.row
                  .col-md-6
                    %p 評論者: user
                    %p 對象： doctor
                    .comment-lists-rank
                      %p 科別滿意度： 2.0
                      %p 醫師滿意度： 4.0
                  .col-md-6.comment-lists-comment-content
                    科別評論：
                    %br>/
                    \#{comment.div_comment}
        .col-md-1
          %li.glyphicon.glyphicon-chevron-right
    .col-md-6.col-md-offset-4
      .comment-lists.row
        .comment-lists-title
          最新醫師評論
        .col-md-1
          %li.glyphicon.glyphicon-chevron-left
        .col-md-10
          .comment-lists-content
            - @comments.each do |comment|
              - unless comment.div_comment.nil? || comment.div_comment.empty?
                .comment-lists-comment.row
                  .col-md-6
                    %p 評論者: user
                    %p 對象： doctor
                    .comment-lists-rank
                      %p 科別滿意度： 2.0
                      %p 醫師滿意度： 4.0
                  .col-md-6.comment-lists-comment-content
                    科別評論：
                    %br>/
                    \#{comment.div_comment}
        .col-md-1
          %li.glyphicon.glyphicon-chevron-right