%main
  .main.row
    %aside.col-md-3.box
      .aside
        .aside-title
          依地區尋找
        .aside-chevron.glyphicon.glyphicon-chevron-up
        .aside-content.row
          - @areas.each do |area|
            .col-md-6.aside-list
              = link_to area.name, ''
        .aside-title
          依科別尋找
        .aside-chevron.glyphicon.glyphicon-chevron-up
        .aside-content.row
          - @categories.each do |category|
            .col-md-6.aside-list
              = link_to category.name, ''
    .col-md-8.box
      .recommend-lists
        .recommend-lists-title
          .recommend-lists-tag.active
            = link_to '推薦醫院', '#recommendHospitals', :remote => true, 'data-toggle' => "tab"
          .recommend-lists-tag{ 'data-toggle' => "tab"}
            = link_to '熱門醫院', '#popHospitals', :remote => true, 'data-toggle' => "tab"
          .recommend-lists-more
            = link_to '觀看更多', ''
        .recommend-lists-content.row
          #recommendHospitals.tab-pane.active
            - @goodHospitals.each_with_index do |hospital, index|
              -if index < 5
                .col-md-6.box
                  .recommend-lists-ranknum
                    = "0" + (index + 1).to_s
                  .recommend-lists-list
                    = link_to hospital.name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
                .col-md-6.box
                  .recommend-lists-ranknum
                    -if index + 6 < 10
                      = "0" + (index + 6).to_s
                    -else
                      = (index + 6).to_s
                  .recommend-lists-list
                    = link_to @goodHospitals[5+index].name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
          #popHospitals.tab-pane
            - @popHospitals.each_with_index do |hospital, index|
              -if index < 5
                .col-md-6.box
                  .recommend-lists-ranknum
                    = "0" + (index + 1).to_s
                  .recommend-lists-list
                    = link_to hospital.name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
                .col-md-6.box
                  .recommend-lists-ranknum
                    -if index + 6 < 10
                      = "0" + (index + 6).to_s
                    -else
                      = (index + 6).to_s
                  .recommend-lists-list
                    = link_to @popHospitals[5+index].name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240

      .recommend-lists.recommend-doctors
        .recommend-lists-title
          .recommend-lists-tag.active
            = link_to '推薦醫生','#recommendDoctors', :remote => true, :remote => true, 'data-toggle' => "tab"
          .recommend-lists-tag
            = link_to '熱門醫生', '#popDoctors', :remote => true,  :remote => true, 'data-toggle' => "tab"
          .recommend-lists-more
            = link_to '觀看更多', ''
        .recommend-lists-content.row
          #recommendDoctors.tab-pane.active
            - @goodDoctors.each_with_index do |hospital, index|
              -if index < 5
                .col-md-6.box
                  .recommend-lists-ranknum
                    = "0" + (index + 1).to_s
                  .recommend-lists-list
                    = link_to hospital.name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
                .col-md-6.box
                  .recommend-lists-ranknum
                    -if index + 6 < 10
                      = "0" + (index + 6).to_s
                    -else
                      = (index + 6).to_s
                  .recommend-lists-list
                    = link_to @goodDoctors[5+index].name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
          #popDoctors.tab-pane
            - @popDoctors.each_with_index do |doctor, index|
              -if index < 5
                .col-md-6.box
                  .recommend-lists-ranknum
                    = "0" + (index + 1).to_s
                  .recommend-lists-list
                    = link_to doctor.name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
                .col-md-6.box
                  .recommend-lists-ranknum
                    -if index + 6 < 10
                      = "0" + (index + 6).to_s
                    -else
                      = (index + 6).to_s
                  .recommend-lists-list
                    = link_to @popDoctors[5+index].name, ""
                    %li.glyphicon.glyphicon-thumbs-up
                      1,240
    .col-md-8.col-md-offset-3.box
      .comment-lists
        .comment-lists-title
          最新科別評論
        .row
          .comment-lists-chevron.col-md-1.box
            = link_to '', {:remote => true} do
              %li.glyphicon.glyphicon-chevron-left
          .col-md-10.box
            .comment-lists-content
              - @divisionComments.each do |comment|
                .comment-lists-comment.row
                  .col-md-6
                    %p 評論者: user
                    %p 對象： doctor
                    .comment-lists-rank
                      %p 科別滿意度： 2.0
                      %p 醫師滿意度： 4.0
                  .col-md-6.comment-lists-comment-content
                    科別評論：
                    %br>/
                    \#{comment.div_comment}
            .comment-lists-paginate
              = will_paginate @divisionComments
          .comment-lists-chevron.col-md-1.box
            = link_to '', {:remote => true} do
              %li.glyphicon.glyphicon-chevron-right
    .col-md-8.col-md-offset-3.box
      .comment-lists
        .row
          .comment-lists-title
            最新醫師評論
          .comment-lists-chevron.col-md-1.box
            = link_to '', {:remote => true} do
              %li.glyphicon.glyphicon-chevron-left
          .col-md-10
            .comment-lists-content
              - @doctorComments.each do |comment|
                .comment-lists-comment.row
                  .col-md-6
                    %p 評論者: user
                    %p 對象： doctor
                    .comment-lists-rank
                      %p 科別滿意度： 2.0
                      %p 醫師滿意度： 4.0
                  .col-md-6.comment-lists-comment-content
                    科別評論：
                    %br>/
                    \#{comment.dr_comment}
            .comment-lists-paginate
              = will_paginate @doctorComments
          .comment-lists-chevron.col-md-1.box
            = link_to '', {:remote => true} do
              %li.glyphicon.glyphicon-chevron-right
