!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProjectName
    %meta{:content => "7WXFjAVEu-LR2MuUiTq2fwKFhbRFrFOa8uLBlgoT2aM", :name => "google-site-verification"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to '醫院列表', admin_hospitals_path
    |
    = link_to '評論列表', admin_comments_path
    |
    = link_to '意見回饋', admin_feedbacks_path
    |
    = link_to '問題回報', admin_problems_path
    |
    = link_to '新增醫師', admin_add_doctors_path
    = yield
