- content_for :head do
  %link{:href => "android-app://kosbrother.com.doctorguide/http/doctorguide.tw/hospitals/#{@hospital.slug}/divisions/#{@division.id}/doctors/#{@doctor.slug}", :rel => "alternate"}/

- breadcrumb :doctor, @doctor, @division, @hospital, @area
.information-boxes
  .information-boxes-title
    醫師資訊
    .information-boxes-title-content
      .icons
        .icon
          = image_tag("mDoctor.png")
        .icon-content
          .icon-content-title
            = @doctor.name + '  醫師'
          .icon-content-num
            %li.glyphicon.glyphicon-thumbs-up
            %li
              = @doctor.recommend_num.round(1)
          .icon-content-num
            %li.glyphicon.glyphicon-comment
            %li
              = @doctor.comment_num.round(1)
          .icon-content-num
            %li.glyphicon.glyphicon-star
            %li
              = @doctor.avg
      = link_to  new_hospital_division_doctor_comment_path(@hospital, @division, @doctor) do
        .addComment
          我要評論
  .information-boxes-content.row
    .top-right-corner
      %li.glyphicon.glyphicon-user
        = @record[0].count
    .col-md-6
      .rating-box
        .rating-box-title
          醫師綜合滿意度 &nbsp;&nbsp;
          = @doctor.avg
        .rating-box-lists
          .rating-box-list
            醫師態度 &nbsp;&nbsp;
            %span
              = @record[0].avg_friendly
            %span.stars
              = @record[0].avg_friendly
          .rating-box-list
            醫師專業 &nbsp;&nbsp;
            %span
              = @record[0].avg_speciality
            %span.stars
              = @record[0].avg_speciality
    .col-md-6
  .information-boxes-content.row
    .col-md-6
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-home
          .icon-content
            .icon-content-title
              服務醫院
            .icon-content-info
              = link_to @hospital.name, hospital_path(@hospital)
              %br>/
              = link_to @division.name, hospital_division_path(@hospital, @division)
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-education
          .icon-content
            .icon-content-title
              專長
            .icon-content-info
              - @doctor.spe.split('、').each do |spe|
                = spe
                %br>/
      .information-boxes-contact
        .icons
          .icon
            %li.glyphicon.glyphicon-list-alt
          .icon-content
            .icon-content-title
              經歷
            .icon-content-info
              - @doctor.exp.split(/[\s、]/).each do |exp|
                = exp
                %br>/
.col-md-8.col-md-offset-3.box
.comment-lists
  .row
    .comment-lists-title
      醫師評論
    .col-md-1.box
    .col-md-10
      .comment-lists-content
        - @comments.each do |comment|
          - if @comments.size > 0
            = link_to hospital_division_doctor_comment_path(@hospital, comment.division, @doctor, comment) do
              .comment-lists-comment.row
                .col-md-6
                  %p 評論者: #{comment.user_name}
                  %p 對象： #{@division.name}/#{@doctor.name}
                  .comment-lists-rank
                    %p 科別滿意度： #{comment.div_speciality}
                    %p 醫師滿意度： #{comment.dr_speciality}
                .col-md-6.comment-lists-comment-content
                  科別評論：
                  %br>/
                  = truncate(comment.dr_comment, length: 35)
          - else
            該科別目前暫時沒有評論
      .comment-lists-paginate
        = pagination_links(@comments)
    .col-md-1.box
.recommend-lists.recommend-doctors
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to "#{@area.name}#{@division.name}推薦醫師",'#recommendDoctors', 'data-toggle' => "tab"
    .recommend-lists-tag
      = link_to "#{@area.name}#{@division.name}熱門醫師", '#popDoctors', 'data-toggle' => "tab"
    .recommend-lists-more
      = link_to '觀看更多', area_category_doctors_recommend_path(@area, @category)
  .recommend-lists-content.row
    #recommendDoctors.tab-pane.active
      - @goodDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-doctorName
                = link_to doctor.name, hospital_division_doctor_path(doctor.hospitals[0], @division, doctor)
                .recommend-lists-doctor-div
                  = @division.name
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.recommend_num
    #popDoctors.tab-pane
      - @popDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-doctorName
                = link_to doctor.name, hospital_division_doctor_path(doctor.hospitals[0], @division, doctor)
                .recommend-lists-doctor-div
                  = @division.name
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.recommend_num
