<p id="notice"><%= notice %></p>

<dl>
  <dt>醫師名稱</dt>
  <dd><%= @doctor.name %></dd>
  <dt>phone</dt>
  <dd><%= @doctor.phone %></dd>
  <dt>address</dt>
  <dd><%= @doctor.address %></dd>
  <dt>exp</dt>
  <dd><%= @doctor.exp %></dd>
  <dt>spe</dt>
  <dd><%= @doctor.spe %></dd>
  <dt>Url</dt>
  <dd><%=link_to @doctor.bUrl,@doctor.bUrl %></dd>
</dl>

<%= link_to '修改醫師', edit_doctor_path(@doctor,division_id: params[:division_id],hospital_id: params[:hospital_id]) %> |
<%= link_to '回科別頁', division_path(params[:division_id],hospital_id: params[:hospital_id]) %>

<br>
<br>

################## 醫師評論列表 #######################

<dl>
  <dt>評論數</dt>
  <dd><%= @doctor.comments.size %></dd>
  <dt>推薦數</dt>
  <dd><%= @doctor.comments.where(is_recommend: true).size %></dd>
  <dt>分數平均</dt>
  <dd><%= @doctor.avg_score %></dd>
</dl>


<table>
  <thead>
    <tr>
      <th>醫院</th>
      <th>科別</th>
      <th>醫師</th>
      <th>科別評分</th>
      <th>科別評論</th>
      <th>醫師評分</th>
      <th>醫師評論</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.hospital.name %></td>
        <td><%= comment.division.name %></td>
        <td><%= comment.doctor.name %></td>
        <td><%= "環境衛生:#{comment.div_environment}, 醫療設備:#{comment.div_equipment},醫護專業:#{comment.div_speciality}, 服務態厲:#{comment.div_friendly}" %></td>
        <td style="color:red;"><%= comment.div_comment %></td>
        <td><%= "醫師態度:#{comment.dr_friendly}, 醫師專業:#{comment.dr_speciality}" %></td>
        <td style="color:blue;"><%= comment.dr_comment %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新增評論', new_comment_path(doctor_id: @doctor.id,division_id: params[:division_id],hospital_id: params[:hospital_id]) %>