- if params['area_id']
  - breadcrumb :areaCategory, @category, @area
-else
  - breadcrumb :category, @category
  .area_lists.row
    - @areas.each do |area|
      .col-md-2
        = link_to area.name, category_path(choose_area_id: area.id)
.hospital-lists
  .hospital-lists-title
    = @area.name + @category.name + '醫院列表'
  .hospital-lists-content.row
    - @areaCateHospitals.each_slice(5) do |hospitals|
      .hospital-lists-content-column.col-md-6
        - hospitals.each do |hospital|
          .hospital-lists-content-list
            = link_to hospital.name, hospital_path(hospital.id)
  .hospital-lists-paginate
    = pagination_links(@areaCateHospitals)
.recommend-lists
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to "#{@areaName}#{@category.name}推薦醫院", '#recommendHospitals', 'data-toggle' => "tab"
    .recommend-lists-tag{ 'data-toggle' => "tab"}
      = link_to "#{@areaName}#{@category.name}熱門醫院", '#popHospitals', 'data-toggle' => "tab"
  .recommend-lists-content.row
    #recommendHospitals.tab-pane.active
      - @areaCateGoodHospitals.each_slice(5).with_index do |hospitals, i|
        .col-md-6.box
          - hospitals.each_with_index do |hospital, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-name
                = link_to hospital.name, hospital_path(hospital.id)
                %li.glyphicon.glyphicon-thumbs-up
                  = hospital.recommend_num
    #popHospitals.tab-pane
      - @areaCatePopHospitals.each_slice(5).with_index do |hospitals, i|
        .col-md-6.box
          - hospitals.each_with_index do |hospital, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-name
                = link_to hospital.name, hospital_path(hospital.id)
                %li.glyphicon.glyphicon-thumbs-up
                  = hospital.recommend_num
.recommend-lists.recommend-doctors
  .recommend-lists-title
    .recommend-lists-tag.active
      = link_to "#{@areaName}#{@category.name}推薦醫生", '#recommendDoctors', 'data-toggle' => "tab"
    .recommend-lists-tag{ 'data-toggle' => "tab"}
      = link_to "#{@areaName}#{@category.name}熱門醫生", '#popDoctors', 'data-toggle' => "tab"
    .recommend-lists-more
      - if params['area_id']
        = link_to '觀看更多', area_category_doctors_recommend_path(@area, @category)
      - else
        = link_to '觀看更多', category_doctors_recommend_path(@category)
  .recommend-lists-content.row
    #recommendDoctors.tab-pane.active
      - @areaCateGoodDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-doctorName
                = link_to doctor.name, hospital_division_doctor_path(findDocHospId(doctor.id), findDocDivId(doctor.id), doctor.id)
                .recommend-lists-doctor-div
                  = findDoctorDivName(doctor.id)
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.recommend_num
    #popDoctors.tab-pane
      - @areaCatePopDoctors.each_slice(5).with_index do |doctors, i|
        .col-md-6.box
          - doctors.each_with_index do |doctor, num|
            .recommend-lists-content-list
              .recommend-lists-ranknum
                - if (i*5)+ 1 + num < 10
                  = '0' + ((i*5)+ 1 + num).to_s
                - else
                  = (i*5)+ 1 + num
              .recommend-lists-doctorName
                = link_to doctor.name, hospital_division_doctor_path(findDocHospId(doctor.id), findDocDivId(doctor.id), doctor.id)
                .recommend-lists-doctor-div
                  = findDoctorDivName(doctor.id)
              .recommend-lists-glyph
                %li.glyphicon.glyphicon-thumbs-up
                  = doctor.recommend_num
.comment-lists
  .comment-lists-title
    = "#{@areaName}#{@category.name}最新科別評論"
  .row
    .col-md-1.box
    .col-md-10.box
      .comment-lists-content
        - @areaCateDivisionComments.each do |comment|
          = link_to hospital_division_comment_path(comment.hospital_id, comment.division_id, comment.id ) do
            .comment-lists-comment.row{:href => ""}
              .col-md-6
                %p 評論者: #{comment.commentor.name}
                %p 對象： #{comment.doctor.name}
                .comment-lists-rank
                  %p 科別滿意度： #{comment.div_speciality}
                  %p 醫師滿意度： #{comment.dr_speciality}
              .col-md-6.comment-lists-comment-content
                科別評論：
                %br>/
                = truncate(comment.div_comment, length: 35)
      .comment-lists-paginate
        = pagination_links(@areaCateDivisionComments)
    .col-md-1.box
.comment-lists
  .row
    .comment-lists-title
      = "#{@areaName}#{@category.name}最新醫師評論"
    .col-md-1.box
    .col-md-10
      .comment-lists-content
        - @areaCateDoctorComments.each do |comment|
          = link_to hospital_division_doctor_comment_path(comment.hospital_id, comment.division_id, comment.doctor_id, comment.id) do
            .comment-lists-comment.row{:href => ""}
              .col-md-6
                %p 評論者: #{comment.commentor.name}
                %p 對象： #{comment.doctor.name}
                .comment-lists-rank
                  %p 科別滿意度： #{comment.div_speciality}
                  %p 醫師滿意度： #{comment.dr_speciality}
              .col-md-6.comment-lists-comment-content
                科別評論：
                %br>/
                = truncate(comment.dr_comment, length: 35)
      .comment-lists-paginate
        = pagination_links(@areaCateDoctorComments)
    .col-md-1.box