!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 就醫指南
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "7WXFjAVEu-LR2MuUiTq2fwKFhbRFrFOa8uLBlgoT2aM", :name => "google-site-verification"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body
    %header
      .header.row
        .col-md-3.box
          = link_to(:root) do
            .logos
              = image_tag('logo.png', :class => 'logo-mark')
              .logo-name 就醫指南
              .logo-desc 就醫指南幫您找到好的醫生

        .col-md-4.col-md-offset-5.box
          .search-bars
            = form_tag("/search", method: "post") do
              %input.search{:name => "search", :placeholder => "找醫院/找醫師", :type => "search"}
              %button.searchButton
                %span.glyphicon.glyphicon-search.search-icon{:type => "submit", value: "search", "aria-hidden" => "true"}
    %main
      .main.row
        %aside.col-md-3.box
          .aside
            .aside-title
              依地區尋找
            .aside-content.row
              - @areas.each do |area|
                .col-md-6.aside-list
                  = link_to area.name, area_path(area.id)
            .aside-title
              依科別尋找
            .aside-content.row
              - @categories.each do |category|
                .col-md-6.aside-list
                  = link_to category.name, category_path(category.id, choose_area_id: 1)
          = yield :aside
        .col-md-8.box
          = breadcrumbs
          = yield
