<!DOCTYPE html>
<html>
<head>
  <title>ProjectName</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to '醫院列表', hospitals_path %> |
<%= link_to '評論列表', comments_path %> |
<%= link_to '意見回饋', feedbacks_path %> |
<%= link_to '問題回報', problems_path %> |
<%= link_to '新增醫師', add_doctors_path %>

<%= yield %>

</body>
</html>
